@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --bg-primary: #8A1538;
    --bg-secundary: rgb(48, 8, 15);
    --bg-tertiary: rgb(221, 221, 221);
    --bg-quaternary: rgba(71, 1, 1, 0.507);
    --bg-quinary: rgba(172, 1, 44, 0.3);
    --box-shadow:rgba(0, 0, 0, 0.178);
    --color-basic: #fff;
    --color-secundary: rgb(88, 88, 88);
    --text-primary: 'Lalezar', cursive;
    --text-secundary: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--bg-primary);
    border-radius: 20px;
}

body {
    background: var(--bg-tertiary);
}

.navbar {
    background-image: linear-gradient(200deg, var(--bg-secundary), var(--bg-primary));
    padding: 5px 0 5px 0;
}

.navbar-collapse {
    flex-grow: 0;
    padding-right: 10px;
}

.navbar-collapse a {
    text-transform: uppercase;
    font-family: var(--text-secundary);
    text-decoration: none;
    color: var(--color-basic);
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 12px;
}

.navbar-collapse a:hover {
    border-bottom: 1px solid var(--color-basic);
}

.navbar img {
    width: 160px;
    padding: 10px;
}

.navbar-toggler-icon {
    color: var(--color-basic) !important;
}

.cup-logo {
    width: 100px;
    height: auto;
}

.space-amph h1 {
    color: var(--color-basic);
    text-transform: uppercase;
    font-family: var(--text-primary);
    letter-spacing: 3px;
    font-size: 60px;
}

.space-amph p {
    font-family: var(--text-secundary);
    color: var(--color-basic);
    text-align: justify;
    font-size: 20px;
}

.space-amph {
    background:
        linear-gradient(var(--bg-quaternary), var(--bg-quinary)),
        url("../img/catar.jpg");
    background-size: cover;
    height: 100% !important;
}

.cup-amph {
    width: 100%;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    padding: 5em 2em 5em 2em;
    background: linear-gradient(to right, var(--bg-secundary)40%, transparent 90%);
}

.cup-stadium {
    width: 100%;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    padding: 5em 2em 5em 2em;
    background: linear-gradient(to right, var(--bg-secundary)40%, transparent 90%);
}

.stadium-space h1 {
    color: var(--color-basic);
    text-transform: uppercase;
    font-family: var(--text-primary);
    letter-spacing: 3px;
    font-size: 60px;
}

.stadium-space p {
    font-family: var(--text-secundary);
    color: var(--color-basic);
    text-align: justify;
    font-size: 20px;
}

.stadium-space small {
    font-family: var(--text-secundary);
    color: var(--color-basic);
    text-align: justify;
    font-size: 15px;
}

.stadium-space {
    background:
    linear-gradient(var(--bg-quaternary), var(--bg-quinary)),
    url("../img/qatar.png");
    background-size: cover;
    height: 100% !important;
    margin-top: 4em;

}

.cup-field h1 {
    color: var(--bg-primary);
    text-transform: uppercase;
    font-family: var(--text-primary);
    letter-spacing: 3px;
    font-size: 60px;
}

.cup-field h3 {
    color: var(--bg-primary);
    text-transform: uppercase;
    font-family: var(--text-secundary);
    letter-spacing: 3px;
    font-size: 20px;
}

.cup-field p {
    color: var(--color-secundary);
    font-family: var(--text-secundary);
    text-align: justify;
    margin-top: 1em;
}

.img-qatar {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.score-cup {
    height: 300px;
    text-align: center;
    background: var(--color-basic);
}

.score-cup h1 {
    color: var(--bg-primary);
    text-transform: uppercase;
    font-family: var(--text-primary);
    letter-spacing: 3px;
    font-size: 40px;
    padding: 30px 10px 0 10px;
}

.date-cup {
    color: var(--bg-primary);
    font-size: 60px;
    text-align: center;
    font-family: var(--text-primary);
    display: flex;
    justify-content: center;
}

.date-cup p{
    width: 100px;
    text-align: center;
}

.label-cup {
    font-size: 25px;
    text-align: center;
    color: var(--bg-primary);
    font-family: var(--text-secundary);
    margin-top: -3em;
    padding-top: 0;
    display: flex;
    justify-content: center;
}

.label-cup p{
    width: 100px;
    text-align: center;
}

.cup-img {
    overflow: hidden;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    background-image: cover;
}

.cup-img-oriente {
    transition: 0.5s all ease-in-out;
    width: 100%;
    height: 300px;
    background-image: url("../img/fifacatar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cup-img-mascote {
    transition: 0.5s all ease-in-out;
    width: 100%;
    height: 300px;
    background-image: url("../img/Laeeb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cup-field p {
    padding: 0 15px 0 0;
}

.cup-field {
    background: var(--color-basic);
    border-radius: 5px;
    box-shadow: 0 0 1em var(--box-shadow);
    margin: 1em;
}

.cup-field:hover .image {
    opacity: 0.3;
}

.cup-field:hover .middle {
    opacity: 1;
}

.stadium-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vmin;
    overflow: hidden;
}

.stadium-area .stadium-img-area {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 75vmin;
    position: relative;
}

.stadium-area .stadium-title {
    color: var(--color-basic);
    background-image: linear-gradient(200deg, var(--bg-secundary), var(--bg-primary));
    padding: 0.5em;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1em;
    white-space: nowrap;
    font-family: var(--bg-secundary);
    text-transform: uppercase;
}

.stadium-area .stadium-img-area:hover {
    flex-grow: 10;
}

.stadium-area .stadium-img-area:hover img {
    filter: grayscale(0);
}

.stadium-area .stadium-img-area:hover .stadium-title {
    top: calc(100% - 2em);
    color: var(--color-basic);
    background: var(--box-shadow);
    font-size: 2em;
    transform: rotate(0deg) skew(-5deg);
}

.stadium-area .stadium-img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
}


.stadium-area .stadium-img-area:not(:nth-child(5)) {
    margin-right: 1em;
}

.material-symbols-outlined {
    color: var(--color-basic);
}

.cup-award img {
    width: 100px;
    padding: 10px;
    float: right;
}

.logo-cup img {
    width: 160px;
    padding: 10px;
}

.cup-rights p {
    color: var(--color-basic);
    font-size: 13px;
    padding-top: 30px;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--text-secundary);
}


.footer-cup {
    background-image: linear-gradient(200deg, var(--bg-secundary), var(--bg-primary));
    padding: 10px 0 10px 0;
}


@media (max-width: 991px) {

    .navbar {
        background-image: linear-gradient(200deg, var(--bg-secundary), var(--bg-primary));
        padding: 10px 0 10px 0;
    }

    .navbar-collapse a {
        padding: 20px !important;
        text-align: center;
    }

    .navbar-collapse a:hover {
        border-bottom: none;
        background: var(--bg-primary);
    }
    .score-cup h1 {
        font-size: 30px;
        padding: 15px 10px 0 10px;
    }

    .space-amph {
        height: auto;
        padding: 10px 0 15px 0;
    }

    .space-amph h1 {
        font-size: 45px;
        padding: 10px 0 15px 0;
    }
}

@media (max-width: 420px) {
    
    .navbar {
        background-image: linear-gradient(200deg, var(--bg-secundary), var(--bg-primary));
        padding: 10px 0 10px 0;
    }

    .navbar-collapse a {
        padding: 20px !important;
        text-align: center;
    }

    .navbar-collapse a:hover {
        border-bottom: none;
        background: var(--bg-primary);
    }
    .score-cup h1 {
        font-size: 20px;
        padding: 10px 5px 0 5px;
    }

    .space-amph h1 {
        font-size: 40px;
        padding: 10px 0 15px 0;
    }

    .stadium-area .stadium-title {
        padding: 5px;
        font-size: 8px;
    }

    .stadium-area .stadium-img-area:hover .stadium-title {
        font-size: 10px;
    }

    .cup-rights p {
        font-size: 8px;
    }

    .cup-field h3 {
        padding-top: 15px;
    }

    .date-cup {
        font-size: 40px;
    }

    .label-cup{
        margin-top: -4em;
        font-size: 20px;
    }


}